@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/indexStyle.css" rel="stylesheet" />
@*<img srcset="~/images/homepage-w320.jpg 320w,
            ~/images/homepage-w640.jpg 640w"
    sizes="(max-width: 360px) 320px,
           640px"
    src="~/images/homepage-w640.jpg"
    alt="homepage picture">*@


<div class="headpart">
    <h1>Healing Talk Nearest You</h1><br />
    <p>Feel anxious, depression or... Talk to us.<br>Help you to release your pressure as much as we can.</p>
</div>

<hr class="indexUp">
<br>
<h2 align="center">Are you struggle with...</h2>
<br>

<div class="row">
    <div class="col-md-4">
        <h3>Anxiety disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Eating disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Mood disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Personality disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Trauma</h3>
    </div>
    <div class="col-md-4">
        <h3>Psychotic disorders</h3>
    </div>
</div>
