@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/indexStyle.css" rel="stylesheet" />
<img srcset="~/images/homepage-lower.jpg 480w, ~/images/homepage.jpg 800w"
     sizes="(max-width: 600px) 480px,
         800px"
     src="~/images/homepage.jpg"
     alt="homepage picture" />
<div>
    <h1>HealingTalk<br>NearestYou</h1><br />
    <p>Feel anxious, depression or... Talk to us.<br>Help you to release your pressure as much as we can.</p>
</div>

<hr class="indexUp">
<br>
<h2 align="center">Are you struggle with...</h2>
<br>

<div class="row">
    <div class="col-md-4">
        <h3>Anxiety disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Eating disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Mood disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Personality disorders</h3>
    </div>
    <div class="col-md-4">
        <h3>Trauma</h3>
    </div>
    <div class="col-md-4">
        <h3>Psychotic disorders</h3>
    </div>
</div>
