@model IEnumerable<HealingTalkNearestYou.Models.Counselling>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History</h2>

<table class="table">
    <tr>
        <th>
            Counselling Time
        </th>
        <th>
            Counselling Status
        </th>
        <th>
            Psychologist Name
        </th>
        <th>
            Rate
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Psychologist.PsyName)
        </td>
        <td>
            @Html.ActionLink("Rate", "Rate", new { id = item.CId })
        </td>
    </tr>
}

</table>
